node_modules/
.git/
{%- if language == 'typescript' %}
dist/
.next/
.nuxt/
{%- elif language == 'python' %}
__pycache__/
*.pyc
.venv/
*.egg-info/
{%- elif language == 'go' %}
*.exe
*.test
vendor/
{%- elif language == 'rust' %}
target/
{%- endif %}
.env
.DS_Store
