{
  "name": "{{ plugin_name }}",
  "version": "0.1.0",
  "description": "{{ plugin_description }}",
  "author": {
    "name": "{{ author_name }}",
    "email": "{{ author_email }}"
  },
  "repository": "{{ 'https://github.com/' + plugin_name if author_name else '' }}",
  "license": "{{ license }}",
  "keywords": []
}
